velky.hlad.sk.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://koprvelkyhlad/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://koprvelkyhlad/" name="VelkyHladEndpointService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://koprvelkyhlad/" schemaLocation="types.xsd"/>
        </xsd:schema>
    </types>
    <message name="updateCookingRecipe">
        <part name="parameters" element="tns:updateCookingRecipe"/>
    </message>
    <message name="updateCookingRecipeResponse">
        <part name="parameters" element="tns:updateCookingRecipeResponse"/>
    </message>
    <message name="removeCookingRecipe">
        <part name="parameters" element="tns:removeCookingRecipe"/>
    </message>
    <message name="removeCookingRecipeResponse">
        <part name="parameters" element="tns:removeCookingRecipeResponse"/>
    </message>
    <message name="findWithIngredients">
        <part name="parameters" element="tns:findWithIngredients"/>
    </message>
    <message name="findWithIngredientsResponse">
        <part name="parameters" element="tns:findWithIngredientsResponse"/>
    </message>
    <message name="addCookingRecipe">
        <part name="parameters" element="tns:addCookingRecipe"/>
    </message>
    <message name="addCookingRecipeResponse">
        <part name="parameters" element="tns:addCookingRecipeResponse"/>
    </message>
    <message name="getCookingRecipe">
        <part name="parameters" element="tns:getCookingRecipe"/>
    </message>
    <message name="getCookingRecipeResponse">
        <part name="parameters" element="tns:getCookingRecipeResponse"/>
    </message>
    <message name="findWithKeywords">
        <part name="parameters" element="tns:findWithKeywords"/>
    </message>
    <message name="findWithKeywordsResponse">
        <part name="parameters" element="tns:findWithKeywordsResponse"/>
    </message>
    <portType name="VelkyHladEndpoint">
        <operation name="updateCookingRecipe">
            <input wsam:Action="http://koprvelkyhlad/VelkyHladEndpoint/updateCookingRecipeRequest" message="tns:updateCookingRecipe"/>
            <output wsam:Action="http://koprvelkyhlad/VelkyHladEndpoint/updateCookingRecipeResponse" message="tns:updateCookingRecipeResponse"/>
        </operation>
        <operation name="removeCookingRecipe">
            <input wsam:Action="http://koprvelkyhlad/VelkyHladEndpoint/removeCookingRecipeRequest" message="tns:removeCookingRecipe"/>
            <output wsam:Action="http://koprvelkyhlad/VelkyHladEndpoint/removeCookingRecipeResponse" message="tns:removeCookingRecipeResponse"/>
        </operation>
        <operation name="findWithIngredients">
            <input wsam:Action="http://koprvelkyhlad/VelkyHladEndpoint/findWithIngredientsRequest" message="tns:findWithIngredients"/>
            <output wsam:Action="http://koprvelkyhlad/VelkyHladEndpoint/findWithIngredientsResponse" message="tns:findWithIngredientsResponse"/>
        </operation>
        <operation name="addCookingRecipe">
            <input wsam:Action="http://koprvelkyhlad/VelkyHladEndpoint/addCookingRecipeRequest" message="tns:addCookingRecipe"/>
            <output wsam:Action="http://koprvelkyhlad/VelkyHladEndpoint/addCookingRecipeResponse" message="tns:addCookingRecipeResponse"/>
        </operation>
        <operation name="getCookingRecipe">
            <input wsam:Action="http://koprvelkyhlad/VelkyHladEndpoint/getCookingRecipeRequest" message="tns:getCookingRecipe"/>
            <output wsam:Action="http://koprvelkyhlad/VelkyHladEndpoint/getCookingRecipeResponse" message="tns:getCookingRecipeResponse"/>
        </operation>
        <operation name="findWithKeywords">
            <input wsam:Action="http://koprvelkyhlad/VelkyHladEndpoint/findWithKeywordsRequest" message="tns:findWithKeywords"/>
            <output wsam:Action="http://koprvelkyhlad/VelkyHladEndpoint/findWithKeywordsResponse" message="tns:findWithKeywordsResponse"/>
        </operation>
    </portType>
    <binding name="VelkyHladEndpointPortBinding" type="tns:VelkyHladEndpoint">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="updateCookingRecipe">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="removeCookingRecipe">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="findWithIngredients">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addCookingRecipe">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getCookingRecipe">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="findWithKeywords">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="VelkyHladEndpointService">
        <port name="VelkyHladEndpointPort" binding="tns:VelkyHladEndpointPortBinding">
            <soap:address location="http://localhost:8080/velky.hlad.sk"/>
        </port>
    </service>
</definitions>